<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/money.png" alt="FinaData - Controle Financeiro" width="140" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/releases/history">Histórico</MudNavLink>
    <MudNavLink Href="/categories">Categorias</MudNavLink>
    <MudNavLink Href="/logout">Sair</MudNavLink>
</MudNavMenu>
